::selection{
    background-color: var(--r-color);
    color: white;
}
:root {
    --main-bg-color: white;
    --a-color : #212529;
    --x-color: #7f7f90;
    --y-color : #ce1212;
    --r-color: #d85454;
    --e-colorr: #eeeeee;

    --f-font-family:"Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--a-color);
    font-size: 24px;
}
label.title{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #7f7f90;
    text-transform: uppercase;
}
/* start nav */
.nav {
    background-color: var(--main-bg-color);
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 3;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
}
.nav .link {
    width: 30%;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content:  space-between;
}
.nav ul li a{
    text-decoration: none;
    color: var(--x-color);
    transition: .2s;
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    font-family: var(--f-font-family);
    transition: .01s;
    border-bottom: none;
}
.nav .link ul li a:after{
    display: block;
    content: "";
    color: var(--a-color);
    transform: scaleX(0);
    transform-origin:  0% 100%;
    transition: transform .7s;
    border-bottom: 2px solid var(--y-color) ;
}
.nav .link ul li a:hover{
    color: var(--a-color);
}
.nav .link ul li a:hover:after{
    transform: scaleX(1);
}
.nav a.active{
    color: var(--a-color);
    border-bottom: 2px solid var(--y-color) ;
}
.nav li::first-letter {
    text-transform: capitalize;
}
.nav .brand{
    display: inline;
    width: 200px;
}
.nav h2#logo{
    text-transform: capitalize;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: var(--a-color);
}
.nav strong{
    color: var(--y-color);
    margin-left: -10px;
    padding: 0;
}
a.theme:hover .nav{
    content: '';
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    z-index: -1;
    background-color: #37373f;
}
.close, .menu-icon{
    display: none;
}
.controls{
    display: flex;
    justify-content: space-between;
    width: 50px;
}
.nav:has(.theme:hover) {
    background-color: #7d7d7d;
}
/* end nav */
/* start landing */
.landing .landing-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 80px;
    height: 100vh;
    background-color: var(--e-colorr);
    transition: .2s;
}
.landing-container .text h1{
    text-align: left;
    font-family: var(--f-font-family);
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #37373f;
}
.landing-container .text p{
    font-family: var(--f-font-family);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    width: 80%;
    margin: 30px 0px;
}
.landing a.book{
    background-color: #ce1212;
    color: var(--main-bg-color);;
    text-decoration: none;
    border-radius: 25px;
    font-size: 14px;
    padding: 12px 24px;
    margin: 0px 10px 0px 0px;
    border-top-left-radius: 0px;
    transition: 1s;
}
.landing a.book:hover{
    background-color: hsl( 0, 84%, 44% );;
}
.text .land-link{
    display: flex;
    align-items: center;
}
.watch{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(90deg, red 50%, transparent 50%);
    border-radius: 50%;
    margin-left: 24px;
}
.watch a{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--f-font-family);
    font-style: normal;
    transition: .5s;
    text-transform: capitalize;
    width: max-content;
}

.watch i{
    font-size: 35px;
    margin: 12px 6px;
}
.watch a:hover{
    color:red;
}
.landing-container .img {
    top: 0;
    border-radius: 50%;
    
}
.landing-container .img img{
    width: 400px;
    position: relative;
}
.landing-container .img:hover img{
    left: 0;
    animation-name: moving;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
/* end landing */

/* start chefs */
.chefs{
    padding: 50px;
}
.chefs .header{
    margin: 20px 0px;
    text-align: center;
}
.chefs .header h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #ce1212;
    text-transform: uppercase;
    margin-top: 20px;
}
h2>span {
    color: #212529;
}
.chefs .item-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 80px;
}
.item-container .item{
    width: 33%;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 8px;
    transition: 0.8s;
}
.item-container .item:hover{
    transform: scale(1.05);
}
.item-container .item:hover .social{
    transition-delay: 1s;
    opacity: 1;
    right: 15;
}
.item-container .social a:hover{
    color: black;
}
.item-container .item-img{
    position: relative;
    width: 100%;
}
.item-container .item-img .img{
    bottom: -3;
    top: 0;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.item-container .item-img .svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.item-container .item .item-text{
    position: relative;
    padding: 0px 20px 20px 20px;
    width: 100%;
    text-align: center;
}
.item-text h2{
    font-weight: 700;
    font-size: 19px;
    font-style: normal;
    font-family: Inter, sans-serif;
    color: #212529;
    text-transform: capitalize;
}
.item-text label{
    font-family: var(--f-font-family);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #7f7f90;
    text-transform: capitalize;
}
.item-text p{
    font-family: var(--f-font-family);
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #7f7f90;
}
.item-container .item .social{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: min-content;
    border-radius: 5px;
    background-color: #ffffff4d;
    box-shadow: 1px 1px 1px #00000013;
    position: absolute;
    top: 40;
    right: 0;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}
.item .social i{
    margin: 5px 8px;
    font-size: 26px;
}
/* end chefs */
/* start gallery */
.gallery{
    width: 100%;
    position: relative;
    padding: 80px;
    background-color: var(--e-colorr);
}
.gallery .header{
    text-align: center;
    width: 100%;
}
.gallery .header h2{
    color: #d85454;
    margin-top: 12px;
}
.gallery .gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0px;
}
.gallery .gallery-container .item1,
.gallery .gallery-container .item2,
.gallery .gallery-container .item3{
    width: 33%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.gallery .gallery-container .item1 .image,
.gallery .gallery-container .item2 .image,
.gallery .gallery-container .item3 .image{
    position: relative;
    overflow: hidden;
    border: 3px solid var(--main-bg-color);
    margin: 10px 0px;
}
.gallery .gallery-container .item1 .image img,
.gallery .gallery-container .item2 .image img,
.gallery .gallery-container .item3 .image img{
    width: 100%;
    transition: 0.8s;
}
.image .overlay-layer{
    color: var(--main-bg-color);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #00000096;
    transform: translateY(100%);
    transition: 1s;
}
.image .overlay-layer h2{
    text-transform: capitalize;
}
.image .overlay-layer p{
    font-size: 16px;
    font-family: var(--f-font-family);
    font-weight: 400;
    color: #dddddd;
    width: 250px;
    text-align: center;
}
.gallery-container .item .image:hover img{
    transform: scale(1.05);
}
.gallery-container .image:hover .overlay-layer{
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(0);
}
/* end gallery */
/* start contact */
.contact{
    margin: 50px 100px;
    padding: 0 30px;
}
.contact .header{
    width: 100%;
    text-align: center;
}
.contact .header label{
    display: block;
    margin-bottom: 20px;
}
.contact .header h2{
    color: var(--r-color);
}
.contact .header h2>span{
    color: var(--a-color);
}
.contact .container .map{
    margin: 50px 0px 20px;
}
.contact .contact-info{
    margin: 20px 0;
    display: flex;
    width: 100%;
}
.contact .contact-info .row-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.contact .contact-info .row-container .row{
    margin: 10px;
    width: 98%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f5f5f5;
    padding: 12px;
    margin-right: 10px;
}
.row .img{
    width: 60px;
    height: 60px;
    background-color: #ce1212;
    margin-right: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .img>i{
    font-size: 30px;
    color: var(--main-bg-color);
}
.row h2{
    font-weight: 700;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    color: #7d7d7d;
    text-transform: capitalize;
}
.row p, a{
    font-weight: 400;
    font-size: 16px;
    font-family: var(--f-font-family);
    font-style: normal;
    color: #212529;
}
.contact .container .contact-form{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px rgba(170, 171, 177, 0.219);
}
.contact-form input,textarea{
    padding: 16px;
    margin: 10px 20px;
    font-size: 14px;
    border: 2px solid #a1a2a3cb;
}
.contact-form input:focus, textarea:focus{
    outline: #ce1212;
    border: 2px solid #d31818cb;
}
.contact-form a{
    background-color: #ce1212;
    border: 1px solid #ce1212;
    border-radius: 150px;
    color: var(--main-bg-color);
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 26px;
    width: fit-content;
    margin: 25px auto;
}
input.half{
    width: 46%;
    margin-top: 40px;
}
/* end contact */
/* start footer */
.footer{
    background-image: url("../img/textured-metal-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    color: white;
}
.footer .footer-container{
    padding: 40px 80px;
    display: flex;
}
.footer .footer-container .item1 {
    width: 25%;
    margin: 0 10;
}
.footer .footer-container .item1 .brand img{
    width: 35px;
}
.footer .footer-container .item1 .brand{
    display: inline-block;
    width: 180px;
    gap: 200 px;
}
.footer .footer-container .item1 p{
    font-family: var(--f-font-family);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}
.footer .footer-container .item1 h1{
    font-family: var(--f-font-family);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}
.footer .footer-container .item1 .social{
    width: 100%;
}
.footer .footer-container .item1 .social h2{
    width: 100%;
    text-align: center;
    border-bottom: solid 2px #babcbe;
    padding: 8px;
}
.footer .footer-container .item1 .social .wrap{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 14px;
    padding: 8px;
}
.footer .footer-container .item1 .social .wrap a{
    color: white;
    font-size: 26px;
}
.footer .footer-container .item1 h2#logo{
    display: inline;
    text-transform: capitalize;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: var(--main-bg-color);
}
.footer .footer-container .item1 strong{
    color: var(--y-color);
    margin-left: -10px;
    padding: 0;
    display: inline;
}
.footer .footer-container .item2 {
    width: 50%;
    margin: 0 18;
}
.footer .footer-container .item2 .row{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.footer .footer-container .item2 ul{
    list-style: none;
}
.footer .footer-container .item2 .row input{
    font-size: 14px;
    padding: 8px;
    width: 85%;
    outline: #212529;
}
.footer .footer-container .item2 .row a{
    background-color: hsl( 0, 84%, 44% );
    padding: 6px 8px;
    margin: 0 10px;
    color: white;
    word-spacing: 2;
}
.footer .footer-container .item2 .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}
.footer .footer-container .item2 .links ul{
    width: 50%;
    padding: 10px 0px;
} 
.footer .footer-container .item2 .links li{
    padding: 8px;
    margin: 0px 20px 0px 0px;
    transition: 1s;
    text-transform: capitalize;
}
.footer .footer-container .item2 .links a{
    color: white;
}
.footer .footer-container .item2 p{
    font-family: var(--f-font-family);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}
.footer .footer-container .item2 h2{
    margin-top: 10px;
}
.footer .footer-container .item2 .links li:hover{
    background-color: #212529;
    transform: translateX(10px);
}
.footer .footer-container .item3{
    width: 25%;
}
.footer .footer-container .item3 h2{
    margin-bottom: 16px;
}
.footer .footer-container .item3 ul{
    list-style: none;
}
.footer .footer-container .item3 li{
    margin: 8px 0px;
    padding: 2px 0px;
}
.footer .footer-container .item3 a{
    text-decoration: none;
    color: white;
}
.footer .footer-container .item3 i{
    color: red;
    font-size: 22px;
}
/* end footer */

@keyframes moving {
    0% {
        left: 3px;
        top: 3px;
    }
    50% {
        top: 0;
        left: 0;
    }
    100% {
        top: 3px;
        left: 3px;
    }
}



/* start media query */
@media screen and (max-width: 1200px){
    .menu-icon{
        display: inline-block;
    }
    .nav:has(.menu-icon:hover) .link{ 
        display: inline-block;
    }
    .nav .link{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        height: 100vh;
        background-color: white;
    }
    .nav .link ul{
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #7f7f90;
    }
    .link .close{
        color: #7f7f90;
        display: block;
        margin: 20px;
        text-align: end;
    }
    .nav .link li{
        padding: 20px 10px;
    }
    .nav .link ul li a.active:hover, .nav .link ul li a:hover{
        color: #212529;
        transition: .5s;
    }
    .nav .link ul li a:after{
        display: none;
    }
    .nav .link ul li a.active{
        color: #7f7f90;
        border: none;
        transition: .5s;
    }
    .link .close:hover{
        color: black;
    }
    .link:has(.close:hover) { 
        display: none;     
    }
    input.half{
        width: 45.5%;
    }
    .footer .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer .footer-container .item1, .footer .footer-container .item3{
        width: 40%;
    }
    .footer .footer-container .item2{
        order: 1;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    
    .landing .landing-container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .landing-container .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .landing a.book{
        border-radius: 25px;
    }
   
    .chefs .item-container{
        display: inline-block;
        width: 100%;
        padding: 20px;
    }
    .item-container .item{
        display: inline-block;
        width: 43%;
        margin-bottom: 30px;
    }

    .gallery .gallery-container{
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
    .gallery .gallery-container .item1,
    .gallery .gallery-container .item2,
    .gallery .gallery-container .item3{
        width: 46%;
    }
    
    .gallery .gallery-container .item2{
        order: 1;
        display: flex;
        flex-direction: column-reverse;
    }
    input.half{
        width: 93%;
    }
}

@media screen and (max-width: 768px){
    
    .item-container .item{
        display: inline-block;
        width: 90%;
        margin: 20px;
        margin-bottom: 30px;
    }

    .gallery .gallery-container{
        display: block  ;
    }
    .gallery .gallery-container .item1,
    .gallery .gallery-container .item2,
    .gallery .gallery-container .item3 {
        width: 100%;
    }
    .contact .contact-info{
        display: block;
    }
    .footer .footer-container .item1, .footer .footer-container .item2{
        width: 100%;
    }
    .footer .footer-container .item3{
        order: 1;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px){
    .text .land-link{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: 140px;
    }
    .watch{
        margin: 0;
    }
}
/* end media query */
